# This service is depraceted and will be removed in future releases.
apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.fullname" (tuple . "-metrics-collector") }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "common.labels" . | indent 4 }}
  annotations:
{{ include "common.annotations" . | indent 4 }}
spec:
  type: ClusterIP
  ports:
  - name: otlp
{{- if .Values.otel.metrics.otlp_endpoint }}
    port: {{ .Values.otel.metrics.otlp_endpoint.port }}
{{- else }}
    port: 4317
{{- end }}
    targetPort: otlp-grpc
    protocol: TCP
  selector:
    app: {{ include "common.fullname" (tuple . "-gateway") }}