apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . }}-common-env
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "common.labels" . | indent 4 }}
data:
  CLUSTER_NAME: {{ quote .Values.cluster.name }}
  CLUSTER_UID: {{ quote .Values.cluster.uid }}
  OTEL_ENVOY_ADDRESS: {{ quote .Values.otel.endpoint }}
  OTEL_ENVOY_ADDRESS_TLS_INSECURE: {{ quote .Values.otel.tls_insecure }}
  MANIFEST_VERSION: {{ quote .Chart.Version }}
  APP_VERSION: {{ quote .Chart.AppVersion }}
{{ if .Values.otel.https_proxy_url }}
  HTTPS_PROXY: {{ quote .Values.otel.https_proxy_url }}
{{ end }}