{{- if or .Values.otel.logs.enabled .Values.otel.metrics.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" (tuple . "-node-collector-config-windows") }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "common.labels" . | indent 4 }}
data:
  logs.config: |
{{ tpl (.Files.Get "node-collector-config.yaml") (merge . (dict "isWindows" 1)) | fromYaml | toYaml | indent 8 }}
{{- end }}
