{{- if or .Values.otel.logs.enabled (and .Values.ebpfNetworkMonitoring.enabled .Values.ebpfNetworkMonitoring.kernelCollector.enabled) }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "common.fullname" (tuple . "-node-collector") }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: swo-k8s-collector
{{ include "common.labels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ include "common.fullname" (tuple . "-node-collector") }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: swo-k8s-collector
        app: {{ include "common.fullname" (tuple . "-node-collector") }}
{{ include "common.labels" . | indent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/node-collector-config-map.yaml") . | sha256sum }}
        checksum/config_common_env: {{ include (print $.Template.BasePath "/common-env-config-map.yaml") . | sha256sum }}
        checksum/values: {{ toJson .Values | sha256sum }}
{{- if and .Values.ebpfNetworkMonitoring.enabled .Values.ebpfNetworkMonitoring.kernelCollector.enabled }}
        checksum/network_config: {{ include (print $.Template.BasePath "/network/configmap.yaml") . | sha256sum }}
{{- end}}
{{- if .Values.otel.logs.telemetry.metrics.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: {{ (split ":" .Values.otel.logs.telemetry.metrics.address)._1 | quote }}
        prometheus.io/path: "/metrics"
        prometheus.io/scheme: "http"
{{- end}}
    spec:
      terminationGracePeriodSeconds: 30
      securityContext:
        ## In order to reliably read logs from mounted node logging paths, we need to run as root
        fsGroup: 0
        runAsUser: 0
        runAsGroup: 0
      tolerations:
      {{- if .Values.otel.logs.tolerations }}
      {{ toYaml .Values.otel.logs.tolerations | nindent 8 }}
      {{- else }}
        - operator: Exists
          effect: NoSchedule
      {{- end }}
      affinity:
      {{- if .Values.otel.logs.affinity }}
      {{- toYaml .Values.otel.logs.affinity | nindent 8 }}
      {{- else }}
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: eks.amazonaws.com/compute-type
                operator: NotIn
                values:
                - fargate
      {{- end }}
      nodeSelector:
      {{- if .Values.otel.logs.nodeSelector }}
      {{ toYaml .Values.otel.logs.nodeSelector | nindent 8 }}
      {{- end }}
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
      containers:
{{- if .Values.otel.logs.enabled }}
        - name: swi-opentelemetry-collector
          image: "{{ .Values.otel.image.repository }}:{{ .Values.otel.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.otel.image.pullPolicy }}
          command:
            - /wrapper
            - /swi-otelcol
            - --config=/conf/relay.yaml
          env:
            - name: CHECKPOINT_DIR
              value: {{ .Values.otel.logs.filestorage.directory }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: SOLARWINDS_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: solarwinds-api-token
                  key: SOLARWINDS_API_TOKEN
                  optional: true
          envFrom:
            - configMapRef:
                name: {{ include "common.fullname" (tuple . "-common-env") }}
{{- if .Values.otel.logs.telemetry.metrics.enabled }}
          ports:
            - name: http
              containerPort: {{ (split ":" .Values.otel.logs.telemetry.metrics.address)._1 }}
              protocol: TCP
{{- end}}
          livenessProbe:
            httpGet:
              path: /
              port: 13133
          readinessProbe:
            httpGet:
              path: /
              port: 13133
          resources:
{{ toYaml .Values.otel.logs.resources | indent 12 }}
          volumeMounts:
            - mountPath: /var/log/pods
              name: varlogpods
              readOnly: true
            - mountPath: /var/log/containers
              name: varlogcontainers
              readOnly: true
            - mountPath: /var/lib/docker/containers
              name: varlibdockercontainers
              readOnly: true
            - mountPath: /conf
              name: opentelemetry-collector-configmap
              readOnly: true
            - mountPath: /run/log/journal
              name: runlogjournal
              readOnly: true
            - mountPath: /var/log/journal
              name: varlogjournal
              readOnly: true
            - name: logcheckpoints
              mountPath: {{ .Values.otel.logs.filestorage.directory }}
{{- end }}
{{- if and .Values.ebpfNetworkMonitoring.enabled .Values.ebpfNetworkMonitoring.kernelCollector.enabled }}
        - name: swi-kernel-collector
          image: "otel/opentelemetry-ebpf-kernel-collector:v0.10.0"
          imagePullPolicy: Always
          args:
            - --config-file=/etc/network-explorer/config.yaml
            - --disable-nomad-metadata
            - --{{ .Values.ebpfNetworkMonitoring.kernelCollector.telemetry.logs.level }}
          env:
            - name: "EBPF_NET_CLUSTER_NAME"
              value: {{ quote .Values.cluster.name }}
            - name: "EBPF_NET_DISABLE_HTTP_METRICS"
              value: "false"
            - name: "EBPF_NET_KERNEL_HEADERS_AUTO_FETCH"
              value: "true"
            - name: "EBPF_NET_INTAKE_HOST"
              value: "{{ include "common.fullname" (tuple . "-network-k8s-reducer") }}"
            - name: "EBPF_NET_INTAKE_PORT"
              value: "7000"
            - name: "EBPF_NET_HOST_DIR"
              value: "/hostfs"
            - name: "EBPF_NET_CRASH_METRIC_HOST"
              value: "{{ include "common.fullname" (tuple . "-metrics-collector") }}"
            - name: "EBPF_NET_CRASH_METRIC_PORT"
              value: "{{ .Values.otel.metrics.otlp_endpoint.port }}"
            - name: "BCC_PROBE_SUFFIX"
              value: {{ quote .Values.cluster.name }}
          resources:
            {}
          securityContext:
            privileged: true
          volumeMounts:
          - mountPath: /hostfs/
            name: host-root
            readOnly: true
          - mountPath: /hostfs/var/cache
            name: host-var-cache
            readOnly: false
          - mountPath: /etc/network-explorer
            name: {{ include "common.fullname" (tuple . "-network-otel-collector-config") }}
            readOnly: true
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      hostPID: true
      serviceAccountName: {{ include "common.fullname" . }}
{{- end }}
      volumes:
{{- if .Values.otel.logs.telemetry.metrics.enabled }}
        - name: varlogpods
          hostPath:
            path: /var/log/pods
        - name: varlogcontainers
          hostPath:
            path: /var/log/containers
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: runlogjournal
          hostPath:
            path: /run/log/journal
        - name: varlogjournal
          hostPath:
            path: /var/log/journal
        - name: logcheckpoints
          hostPath:
            path: {{ printf "%s/%s" .Values.otel.logs.filestorage.directory .Values.cluster.uid }}
            type: DirectoryOrCreate
        - name: opentelemetry-collector-configmap
          configMap:
            name: {{ include "common.fullname" (tuple . "-node-collector-config") }}
            items:
              - key: logs.config
                path: relay.yaml
{{- end }}
{{- if and .Values.ebpfNetworkMonitoring.enabled .Values.ebpfNetworkMonitoring.kernelCollector.enabled }}
        - name: {{ include "common.fullname" (tuple . "-network-otel-collector-config") }}
          projected:
            sources:
            - configMap:
                name: {{ include "common.fullname" (tuple . "-network-otel-collector-config") }}
                items:
                - key: config.yaml
                  path: config.yaml
        - name: host-root
          hostPath:
            path: /
            type: Directory
        - name: host-var-cache
          hostPath:
            path: /var/cache
            type: DirectoryOrCreate
{{- end }}
{{- end }}