{{- if .Values.swoagent.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
{{- if regexMatch "^[a-zA-Z]{1}[a-zA-Z0-9-\\ ]*[a-z0-9]{1}$" .Values.cluster.name }}
  name: {{ printf "%s-swo-agent" .Values.cluster.name | lower | replace " " "-" | trunc 63  }}
{{ else }}
  name: {{ include "common.fullname" (tuple . "-swo-agent") }}
{{ end }}
  namespace: {{ .Release.Namespace }}
  labels:
    solarwinds/swo-agent: "true"
    app.kubernetes.io/name: swo-agent
{{ include "common.labels" . | indent 4 }}
spec:
  serviceName: {{ include "common.fullname" (tuple . "-swo-agent") }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "common.fullname" (tuple . "-swo-agent") }}
  template:
    metadata:
      annotations:
        checksum/values: {{ toJson .Values | sha256sum }}
      labels:
{{ include "common.labels" . | indent 8 }}
        app: {{ include "common.fullname" (tuple . "-swo-agent") }}
        solarwinds/swo-agent: "true"
{{ include "common.pod-labels" . | indent 8 }}
    spec:
      securityContext: {}
      nodeSelector:
      {{- if .Values.swoagent.nodeSelector }}
        {{ toYaml .Values.swoagent.nodeSelector | nindent 8 }}
      {{- else }}
        kubernetes.io/arch: amd64
        kubernetes.io/os: linux
      {{- end }}
      {{- if .Values.swoagent.affinity }}
      affinity:
        {{- toYaml .Values.swoagent.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: swo-agent
          image: "{{ include "common.image" (tuple . .Values.swoagent (tuple "image" "swoagent")) }}"
          imagePullPolicy: {{ .Values.swoagent.image.pullPolicy }}
          env:
            - name: UAMS_CLIENT_ID_OVERRIDE_SOURCE_NAME
              value: {{ .Values.cluster.uid }}
            - name: SWO_URL
              value: {{ .Values.otel.endpoint | trimPrefix "otel.collector." | trimPrefix "otel-collector." }}
            - name: UAMS_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ template "common.secret" . }}
                  key: SOLARWINDS_API_TOKEN
            - name: CLUSTER_UID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" (tuple . "-common-env") }}
                  key: CLUSTER_UID
            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" (tuple . "-common-env") }}
                  key: CLUSTER_NAME
            - name: MANIFEST_VERSION
              valueFrom:
                configMapKeyRef:
                  name: {{ include "common.fullname" (tuple . "-common-env") }}
                  key: MANIFEST_VERSION
          volumeMounts:
            - name: uams-client-workdir
              mountPath: /uamsclient/workdir
          resources:
{{ toYaml .Values.swoagent.resources | indent 12 }}
      volumes:
        - name: uams-client-workdir
          persistentVolumeClaim:
{{- if regexMatch "^[a-zA-Z]{1}[a-zA-Z0-9-\\ ]*[a-z0-9]{1}$" .Values.cluster.name }}
            claimName: {{ printf "%s-swo-agent" .Values.cluster.name | lower | replace " " "-" | trunc 63  }}
{{ else }}
            claimName: {{ include "common.fullname" (tuple . "-swo-agent") }}
{{ end }}
{{- end}}
