{{- if .Values.swoagent.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
{{- if regexMatch "^[a-zA-Z]{1}[a-zA-Z0-9-\\ ]*[a-z0-9]{1}$" .Values.cluster.name }}
  name: {{ printf "%s-swo-agent" .Values.cluster.name | lower | replace " " "-" | trunc 63  }}
{{ else }}
  name: {{ include "common.fullname" (tuple . "-swo-agent") }}
{{ end }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: swo-agent
{{ include "common.labels" . | indent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{{- end}}
