# Default owners
# @solarwinds/eng-trilobytes-team  @solarwinds-internal/eng-trilobytes-team  - Team Trilobytes

* @solarwinds/eng-trilobytes-team  @solarwinds-internal/eng-trilobytes-team  @solarwinds/eng-expendables-team  @solarwinds-internal/eng-expendables-team 
