apiVersion: v2
name: swo-k8s-collector
version: 4.1.0-alpha.2
appVersion: "0.11.5"
description: SolarWinds Kubernetes Integration
keywords:
  - monitoring
  - observability
  - metric
  - logs
  - events
  - kubernetes
home: https://solarwinds.com/
icon: https://helm.solarwinds.com/favicon.ico
sources:
  - https://github.com/solarwinds/swi-k8s-opentelemetry-collector/deploy/helm/
maintainers:
  - name: SolarWinds
    email: support@solarwinds.com
dependencies:
  - name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 5.25.1"
    condition: kube-state-metrics.enabled
