apiVersion: v2
name: swo-k8s-collector
version: 2.8.0
appVersion: "0.8.7"
description: SolarWinds Kubernetes Integration
keywords:
  - monitoring
  - observability
  - metric
  - logs
  - events
  - kubernetes
home: https://solarwinds.com/
icon: https://www.solarwinds.com/favicon.ico
sources:
  - https://github.com/solarwinds/swi-k8s-opentelemetry-collector/deploy/helm/
maintainers:
  - name: SolarWinds
    email: support@solarwinds.com
dependencies:
  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 19.7.2"
    condition: prometheus.enabled
  - name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 5.5.0"
    condition: kube-state-metrics.enabled
