apiVersion: v2
name: swo-k8s-collector
version: 4.0.0-alpha.1
appVersion: "0.10.0"
description: SolarWinds Kubernetes Integration
keywords:
  - monitoring
  - observability
  - metric
  - logs
  - events
  - kubernetes
home: https://solarwinds.com/
icon: https://www.solarwinds.com/favicon.ico
sources:
  - https://github.com/solarwinds/swi-k8s-opentelemetry-collector/deploy/helm/
maintainers:
  - name: SolarWinds
    email: support@solarwinds.com
dependencies:
  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 19.7.2"
    condition: opencost.enabled
  - name: prometheus-node-exporter
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 4.24.0"
    condition: opencost.enabled
  - name: opencost
    repository: https://opencost.github.io/opencost-helm-chart
    version: "~> 1.26.2"
    condition: opencost.enabled  
  - name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: "~> 5.15.2"
    condition: kube-state-metrics.enabled
