apiVersion: v2
name: swo-k8s-collector
version: 5.0.0-rc.1
appVersion: 0.136.5
description: SolarWinds Kubernetes Integration
keywords:
  - monitoring
  - observability
  - metric
  - logs
  - events
  - kubernetes
home: https://solarwinds.com/
icon: https://helm.solarwinds.com/favicon.png
sources:
  - https://github.com/solarwinds/swi-k8s-opentelemetry-collector/tree/master/deploy/helm
maintainers:
  - name: SolarWinds
    email: support@solarwinds.com
dependencies:
  - name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: 6.4.1
    condition: kube-state-metrics.enabled
  - name: opentelemetry-operator
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.99.2 # 0.97.1 chart version includes otel-operator version 0.136.0
    alias: operator
    condition: operator.enabled
  - name: cert-manager
    version: v1.20.0-alpha.0
    alias: certmanager
    repository: https://charts.jetstack.io
    condition: certmanager.enabled
  - name: trivy-operator
    version: 0.31.0
    repository: https://aquasecurity.github.io/helm-charts
    condition: trivy-operator.enabled
annotations:
  artifacthub.io/prerelease: "false"
  artifacthub.io/license: Apache-2.0
  artifacthub.io/images: |
    - name: ebpf-kernelCollector
      image: solarwinds/opentelemetry-ebpf-kernel-collector:v0.10.3
      whitelisted: true
    - name: ebpf-k8sCollectorWatcher
      image: solarwinds/opentelemetry-ebpf-k8s-watcher:v0.10.3
      whitelisted: true
    - name: ebpf-k8sCollectorRelay
      image: solarwinds/opentelemetry-ebpf-k8s-relay:v0.10.3
      whitelisted: true
    - name: ebpf-reducer
      image: solarwinds/opentelemetry-ebpf-reducer:v0.10.3
      whitelisted: true
