apiVersion: v2
name: swo-k8s-collector
version: 5.1.0-alpha.5
appVersion: 0.140.5
description: SolarWinds Kubernetes Integration
keywords:
  - monitoring
  - observability
  - metric
  - logs
  - events
  - kubernetes
home: https://solarwinds.com/
icon: https://helm.solarwinds.com/favicon.png
sources:
  - https://github.com/solarwinds/swi-k8s-opentelemetry-collector/tree/master/deploy/helm
maintainers:
  - name: SolarWinds
    email: support@solarwinds.com
dependencies:
  - name: kube-state-metrics
    repository: https://prometheus-community.github.io/helm-charts
    version: 7.1.0
    condition: kube-state-metrics.enabled
  - name: opentelemetry-operator
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.105.1 # 0.101.0 chart version includes otel-operator version 0.140.0
    alias: operator
    condition: operator.enabled
  - name: cert-manager
    version: v1.18.5
    alias: certmanager
    repository: https://charts.jetstack.io
    condition: certmanager.enabled
  - name: trivy-operator
    version: 0.31.0
    repository: https://aquasecurity.github.io/helm-charts
    condition: trivy-operator.enabled
annotations:
  artifacthub.io/prerelease: "false"
  artifacthub.io/license: Apache-2.0
