exporters:
  otlp:
    endpoint: ${OTEL_ENVOY_ADDRESS}
    tls:
      insecure: ${OTEL_ENVOY_ADDRESS_TLS_INSECURE}
    headers:
      "Authorization": "Bearer ${SOLARWINDS_API_TOKEN}"
extensions:
  health_check:
    check_collector_pipeline:
      enabled: false
      interval: "5m"
      exporter_failure_threshold: 5
  memory_ballast:
{{ toYaml .Values.otel.events.memory_ballast | indent 4 }}

processors:
  memory_limiter:
{{ toYaml .Values.otel.events.memory_limiter | indent 4 }}

{{- if .Values.otel.events.filter }}
  filter:
    logs:
{{ toYaml .Values.otel.events.filter | indent 6 }}
{{- end }}
  transform/severity:
    log_statements:
      - context: log
        statements:
          - set(severity_text, "Error") where
{{ include "common.events-error-conditions" . | indent 16}}
          - set(severity_number, 17) where
{{ include "common.events-error-conditions" . | indent 16}}

          - set(severity_text, "Warning") where
{{ include "common.events-warning-conditions" . | indent 16}}
          - set(severity_number, 13) where
{{ include "common.events-warning-conditions" . | indent 16}}
  transform/namespace:
    log_statements:
      - context: log
        statements:
          - set(attributes["sw.namespace"], "sw.events.inframon.k8s")
  transform/entity_attributes:
    log_statements:
      - context: log
        statements:
          - set(resource.attributes["k8s.pod.name"], resource.attributes["k8s.object.name"]) where resource.attributes["k8s.object.kind"] == "Pod"
          - set(resource.attributes["k8s.namespace.name"], attributes["k8s.namespace.name"]) where attributes["k8s.namespace.name"] != nil
          - delete_key(attributes, "k8s.namespace.name") where attributes["k8s.namespace.name"] != nil
  resource/events:
    attributes:
      # Collector and Manifest version
      - key: sw.k8s.agent.manifest.version
        value: ${MANIFEST_VERSION}
        action: insert

      - key: sw.k8s.agent.app.version
        value: ${APP_VERSION}
        action: insert

      # Cluster
      - key: sw.k8s.cluster.uid
        value: ${CLUSTER_UID}
        action: insert

      - key: k8s.cluster.name
        value: ${CLUSTER_NAME}
        action: insert

      - key: sw.k8s.log.type
        value: event
        action: insert
  batch:
{{ toYaml .Values.otel.events.batch | indent 4 }}

receivers:
  k8s_events:

service:
  extensions:
    - health_check
    - memory_ballast
  pipelines:
{{- if .Values.otel.events.enabled }}
    logs:
      exporters:
        - otlp
      processors:
        - memory_limiter
{{- if .Values.otel.events.filter }}
        - filter
{{- end}}
        - transform/severity
        - transform/namespace
        - transform/entity_attributes
        - resource/events
        - batch
      receivers:
        - k8s_events
{{- end }}
  telemetry:
{{- if .Values.otel.events.telemetry.logs.enabled }}
    logs:
      level: {{ .Values.otel.events.telemetry.logs.level }}
{{- end }}
{{- if .Values.otel.events.telemetry.metrics.enabled }}
    metrics:
      address: {{ .Values.otel.events.telemetry.metrics.address }}
{{- end }}