{{ include "common.minHelmVersion" . }}
{{- if .Values.ebpfNetworkMonitoring.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" (tuple . "-network-otel-collector-config") }}
data:
  config.yaml: |
    labels:
      environment: {{ quote .Values.cluster.name }}
{{- end }}