{{- if .Values.network_topology.enabled }}
{{- if not .Values.otel.gateway.enabled }}
{{- fail "The network_topology requires otel.gateway.enabled to be set to true" }}
{{- end }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" (tuple . "-beyla-config") }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "common.labels" . | indent 4 }}
    app.kubernetes.io/component: config
  annotations:
{{ include "common.annotations" . | indent 4 }}
data:
  beyla-config.yml: |
    {{- if not .Values.network_topology.config.otel_metrics_export }}
    otel_metrics_export:
      endpoint: http://swo-gateway:{{ .Values.otel.gateway.otlp_endpoint.port }}
      protocol: grpc
      interval: {{ quote .Values.otel.metrics.prometheus.scrape_interval }}
      features: ["application", "application_process", "application_service_graph", "network"]
    {{- end }}
    {{- if not .Values.network_topology.config.ebpf }}
    ebpf:
      context_propagation: all
    {{- end }}
    {{- if not .Values.network_topology.config.process }}
    process:
      enabled: true
    {{- end }}
    {{- if not .Values.network_topology.config.network }}
    network:
      enable: true
    {{- end }}
    {{- if not .Values.network_topology.config.discovery }}
    discovery:
      instrument:
        - k8s_namespace: "*"
      exclude_instrument:
        - exe_path: "{*otelcol*|*beyla*}"
        - k8s_pod_annotations:
            sw.ebpf.instrumentation/exclude: "true"
    {{- end }}
    {{- if not .Values.network_topology.config.log_level }}
    log_level: info
    {{- end }}
    {{- if not .Values.network_topology.config.open_port }}
    open_port: 80,443,8000-8999
    {{- end }}
    {{- if not .Values.network_topology.config.attributes }}
    attributes:
      kubernetes:
        enable: true
      select:
        http_*:
          include:
            - http.request.method
            - http.response.status_code
            - service.name
            - service.namespace
            - target.instance
            - server.address
            - client.address
        rpc_*:
          include:
            - http.request.method
            - http.response.status_code
            - service.name
            - service.namespace
            - target.instance
            - server.address
            - client.address
            - rpc.grpc.status_code
            - rpc.method
            - rpc.system
        beyla_*:
          include:
            - direction
            - dst.address
            - k8s.dst.namespace
            - k8s.dst.owner.name
            - k8s.dst.owner.type
            - src.address
            - k8s.src.namespace
            - k8s.src.owner.name
            - k8s.src.owner.type
            - transport
    {{- end }}
    {{- if .Values.network_topology.config }}
  {{- toYaml .Values.network_topology.config | nindent 4}}
    {{- end }}
{{- end }}