name: Release Helm Chart

on:
  workflow_dispatch:

jobs:
  deploy_helm:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to push chart release and create a release (helm/chart-releaser-action)
      id-token: write # needed for signing
      pull-requests: write # needed to create pull-request
    name: Deploy Helm chart to GitHub pages
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.9.2

      - name: Set env
        run: |
          echo "CR_GIT_REPO=$(cut -d '/' -f 2 <<< $GITHUB_REPOSITORY)" >> $GITHUB_ENV
          echo "CR_OWNER=$(cut -d '/' -f 1 <<< $GITHUB_REPOSITORY)" >> $GITHUB_ENV

      - name: Run chart-releaser
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          "./.github/cr.sh"
        shell: bash
